<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">

	 <context:property-placeholder location="classpath:myframework.properties"/>


	<!-- Scans the classpath for annotated components that will be auto-registered as Spring beans -->

	<context:component-scan base-package="myframework" />
	<!-- Activates various annotations to be detected in bean classes e.g: @Autowired -->
	<context:annotation-config />

<!--	
	<bean id="XX" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
    	<property name="properties">
	        <props>
	            <prop key="server.database.0">file:DATABASE/xdb;hsqldb.lock_file=false</prop>
	            <prop key="server.dbname.0">xdb</prop>
	        </props>
	    </property>
	</bean>
-->

	<bean id="hsqlServer" class="org.hsqldb.server.Server" init-method="start" destroy-method="stop">
		<property name="properties" ref="XX" />
	</bean>
	
	<bean id="p6DataSource" class="com.p6spy.engine.spy.P6DataSource" primary="true">
	    <constructor-arg>
	        <ref bean="dataSource"/>
	    </constructor-arg>
	</bean>
		
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${myframework.backend.datasource.driver}" /> 
		<property name="url" value="${myframework.backend.datasource.url}" />
		<property name="username" value="${myframework.backend.datasource.username}" />
		<property name="password" value="${myframework.backend.datasource.password}" />
	</bean>

	
	<bean id="entityManagerFactory" depends-on="hsqlServer"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:packagesToScan="app,myframework" p:dataSource-ref="p6DataSource">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="true" />
				<property name="showSql" value="false" />
			</bean>
		</property>			
		<property name="jpaProperties">
	        <props>
	            <prop key="hibernate.hbm2ddl.auto">update</prop>
	        </props>
	</property>
	</bean>
	
	<!-- Transactions -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<!-- enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>
	
	
	
	
